---
title: Startup Landing Page Checklist
meta:
description: Some meta description
stylesheets:
  - ../../../css/index.css
  - ../../../css/partials/footer.css
  - ../../../css/partials/checklist.css
authors:
  aisora:
    name: Alexander Isora
    position: Founder
    company: Unicorn Platform
    link: https://ya.ru
    photo: https://via.placeholder.com/100
checklists:
  SEO:
    -
      title: Create robots.txt
      content:
        Robots.txt is a <a href="http://ya.ru">file</a> which tells Google, Bing and other search engines which pages
        of your websites are welcome to be indexed. Download a robots.txt which allows every page to be indexed.
      more:
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptat
      author: aisora
    -
      title: Create robots.txt
      content:
        Robots.txt is a file which tells Google, Bing and other search engines which pages of your websites are welcome
        to be indexed. Download a robots.txt which allows every page to be indexed.
      author: aisora
  Copy:
    -
      title: Create robots.txt
      content:
        Robots.txt is a file which tells Google, Bing and other search engines which pages of your websites are welcome
        to be indexed. Download a robots.txt which allows every page to be indexed.
      more:
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptat
      author: aisora
    -
      title: Create robots.txt
      content:
        Robots.txt is a file which tells Google, Bing and other search engines which pages of your websites are welcome
        to be indexed. Download a robots.txt which allows every page to be indexed.
      author: aisora
---
{{#extend "layout-default"}}
  {{#content "main"}}
    <h1>Startup Landing Page Checklist</h1>

    <p>
      A comprehensive checklist of design, SEO and tech advices on building a converting and optimized landing page
      for your SaaS, mobile application or any other startup. Brought to you by the industry leaders.
    </p>
    <p>
      Check them all to assist your startup!
    </p>

    <div class="checklists">
      <section class="checklist">
        <h2 class="checklist__heading">SEO</h2>
        <div class="checklist__items">{{> checklist items=checklists.SEO}}</div>
      </section>

      <section class="checklist">
        <h2 class="checklist__heading">Copy</h2>
        <div class="checklist__items">{{> checklist items=checklists.Copy}}</div>
      </section>
    </div>

  {{/content}}
{{/extend}}
