.page-footer {
  padding: 30px 16px 60px;
  border-top: 2px solid #303030;
  background: #fff;
}

.page-footer__nav {
  max-width: 930px;
  margin: 0 auto;
}

.menu {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  list-style: none;
}

.menu__section {
  padding: 20px 0;
}

.menu__heading {
  display: block;
  padding-bottom: 16px;
  color: #424242;
}

.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu__item {
  padding-bottom: 16px;
}

.menu__item a {
  border-color: rgba(81, 236, 150, 0.4);
}

@media (min-width: 700px) {
  .menu {
    flex-direction: row;
  }
}
