.page-main {
  padding-bottom: 400px;
  text-align: center;
}

.description {
  max-width: 400px;
  margin: 0 auto 50px;
}

.checklists {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 100%;
}

.checklist {
  padding: 25px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 110px 0 rgba(0, 0, 0, 0.17);
  text-align: left;
}

.checklist__header {
  padding-bottom: 10px;
}

.checklist__icon {
  height: 30px;
  margin-bottom: 10px;
}

.checklist__heading {
  padding-bottom: 0;
  font-size: 20px;
  line-height: 1.4;
}

.checklist__link {
  display: flex;
  width: max-content;
  align-items: center;
  padding: 10px 20px 10px 30px;
  border: none;
  margin-top: 10px;
  background: #303030;
  border-radius: 4px;
  color: #fff;
  line-height: 1;
  text-decoration: none;
}

.checklist__link:after {
  display: block;
  width: 10px;
  height: 15px;
  margin-left: 10px;
  background: #fff;
  content: '';
  mask: url('/icons/arrow-right.svg') no-repeat 50% 50%;
}

.checklist__link:hover {
  opacity: 0.8;
}

.checklist_name_startup-landing-page .checklist__link:after{
  background: #51ec96;
}
.checklist_name_startup-landing-page .checklist__link:active {
  color: #51ec96;
}

.checklist_name_product-hunt-launch .checklist__link:after {
  background: #e88568;
}
.checklist_name_product-hunt-launch .checklist__link:active {
  color: #e88568;
}

.checklist_name_zero-budget-marketing .checklist__link:after {
  background: #b774e6;
}
.checklist_name_zero-budget-marketing .checklist__link:active {
  color: #b774e6;
}

.checklist_name_saas-building .checklist__link:after {
  background: #91aae1;
}
.checklist_name_saas-building .checklist__link:active {
  color: #91aae1;
}

@media screen and (min-width: 700px) {
  .checklist__header {
    display: flex;
  }

  .checklist__heading {
    padding-left: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .checklists {
    grid-gap: 60px;
    grid-template-columns: 1fr 1fr;
  }

  .checklist {
    padding: 30px 40px;
  }
}
