---
title: Startup Landing Page Checklist
meta:
description: Some meta description
stylesheets:
  - /css/index.css
  - /css/partials/footer.css
  - /css/partials/checklist.css
  - /css/partials/launch-subscribe.css
authors:
  aisora:
    name: Alexander Isora
    position: Founder
    company: Unicorn Platform
    link: https://ya.ru
    photo: https://via.placeholder.com/100
checklists:
  SEO:
    -
      title: Create robots.txt
      content:
        Robots.txt is a <a href="http://ya.ru">file</a> which tells Google, Bing and other search engines which pages
        of your websites are welcome to be indexed. Download a robots.txt which allows every page to be indexed.
      more:
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptat
      author: aisora
    -
      title: Create robots.txt
      content:
        Robots.txt is a file which tells Google, Bing and other search engines which pages of your websites are welcome
        to be indexed. Download a robots.txt which allows every page to be indexed.
      author: aisora
  Copy:
    -
      title: Create robots.txt
      content:
        Robots.txt is a file which tells Google, Bing and other search engines which pages of your websites are welcome
        to be indexed. Download a robots.txt which allows every page to be indexed.
      more:
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptat
      author: aisora
    -
      title: Create robots.txt
      content:
        Robots.txt is a file which tells Google, Bing and other search engines which pages of your websites are welcome
        to be indexed. Download a robots.txt which allows every page to be indexed.
      author: aisora
subscribe:
  title: We plan to create more awesome checklists!
  subtitle: By the way
  checklists:
    -
      id: startup-landing-page
      title: Startup Landing Page Checklist
      checked: true
    -
      id: product-hunt-launch
      title: Product Hunt Launch Checklist
      checked: false
    -
      id: zero-budget-marketing
      title: Zero Budget Marketing Checklist
      checked: false
    -
      id: saas-building
      title: SaaS Building Checklist
      checked: false
  content:
    -
      paragraph: Wanna get notified?
    -
      paragraph: Subscribe to be emailed when a new checklist is launched.
    -
      paragraph: No spam, no promo. Only new checklist launch notification.
  agreements:
    -
      agreement: By subscribing you agree the <a href="https://meh.startupchecklists.org/privacy-policy/">Privacy Policy</a> and <a href="https://meh.startupchecklists.org/terms-of-service/">Terms of Service</a>.
    -
      agreement: You also agree to receive a new checklist notification email.
---
{{#extend "layout-default"}}
  {{#content "main"}}
    <h1>Startup Landing Page Checklist</h1>

    <p>
      A comprehensive checklist of design, SEO and tech advices on building a converting and optimized landing page
      for your SaaS, mobile application or any other startup. Brought to you by the industry leaders.
    </p>
    <p>
      Check them all to assist your startup!
    </p>

    <h2>SEO</h2>
    {{> checklist items=checklists.SEO}}

    <h2>Copy</h2>
    {{> checklist items=checklists.Copy}}

    {{> launch-subscribe}}

  {{/content}}
{{/extend}}
