<footer class="page-footer">
  <nav class="page-footer__nav">
    <ul class="menu">
      <li class="menu__section">
        <b class="menu__heading">Enjoy more checklists!</b>
        <ul class="menu__list">
          <li class="menu__item"><a href="/startup-landing-page">Startup Landing Page Checklist</a></li>
          <li class="menu__item"><a href="/product-hunt-launch">ProductHunt Launch Checklist</a></li>
          <li class="menu__item"><a href="/zero-budget-marketing">Zero budget Marketing Checklist</a></li>
          <li class="menu__item"><a href="/saas-building">SaaS Building Checklist</a></li>
        </ul>
      </li>
      <li class="menu__section">
        <b class="menu__heading">Get more</b>
        <ul class="menu__list">
          <li class="menu__item"><a href="">Subscribe for more checklists</a></li>
          <li class="menu__item">
            <a href="">
              Build awesome landing page <img src="../../../icons/unicorn-platform-logo-circle.svg" height="22" width="22" alt="" class="icon-in-text">
            </a>
          </li>
          <li class="menu__item"><a href="">Discuss on Broadwise.org</a></li>
          <li class="menu__item"><a href="">Suggest an item or edition</a></li>
          <li class="menu__item"><a href="">Contact</a></li>
        </ul>
      </li>
      <li class="menu__section">
        <b class="menu__heading">Legal</b>
        <ul class="menu__list">
          <li class="menu__item"><a href="https://meh.startupchecklists.org/privacy-policy/">Privacy policy</a></li>
          <li class="menu__item"><a href="https://meh.startupchecklists.org/terms-of-service/">Terms of service</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</footer>
