<!doctype html>
<html lang="en">
<head>
  {{#block "head"}}{{> head}}{{/block}}

  {{#block "styles"}}
    {{> styles}}
  {{/block}}
</head>
<body>
<main class="page-main">
  {{#block "main"}}
  {{/block}}
</main>
<footer class="page-footer">
  <nav class="nav">
    <ul class="menu">
      <li class="menu__section">
        <b class="menu__heading">Enjoy more checklists!</b>
        <ul class="menu__list">
          <li class="menu__item"><a href="">Startup Landing Page Checklist</a></li>
          <li class="menu__item"><a href=""></a>ProductHunt Launch Checklist</li>
        </ul>
      </li>
      <li class="menu__section">
        <b class="menu__heading">Get more</b>
        <ul class="menu__list">
          <li class="menu__item"><a href=""></a>Subscribe</li>
          <li class="menu__item"><a href=""></a>Build</li>
          <li class="menu__item"><a href=""></a>Discuss</li>
        </ul>
      </li>
      <li class="menu__section">
        <b class="menu__heading">Legal</b>
        <ul class="menu__list">
          <li class="menu__item"><a href="">Privacy policy</a></li>
          <li class="menu__item"><a href="">Terms of service</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</footer>

{{#block "scripts"}}
  {{> scripts}}
{{/block}}
</body>
</html>
