<!doctype html>
<html lang="en">
<head>
  {{#block "head"}}{{> head}}{{/block}}

  {{#block "styles"}}
    {{> styles}}
  {{/block}}
</head>
<body>
<main class="page-main">
  {{#block "main"}}
  {{/block}}
</main>
{{> footer}}

{{#block "scripts"}}
  {{> scripts}}
{{/block}}
</body>
</html>
