<!doctype html>
<html lang="en">
<head>
  {{#block "head"}}{{> head}}{{/block}}

  {{#block "styles"}}
    {{> styles}}
  {{/block}}
</head>
<body>
<main>
  {{#block "main"}}
  {{/block}}
</main>

{{#block "scripts"}}
  {{> scripts}}
{{/block}}
</body>
</html>
