---
title: Product Hunt
meta:
description: Some meta description
stylesheets:
  - ../../../css/index.css
---
{{#extend "layout-default"}}
  {{#content "main"}}
    <h1>Product Hunt</h1>
  {{/content}}
{{/extend}}
